body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
}

::selection {
	background: #000;
	color: #fff;
}

::-moz-selection {
	background: #000;
	color: #fff;
}

#field {
    position: absolute;
    top: 50%;
    margin: -36px 0 0 1vw;
    input {
        width: 98vw;
        padding: 10px 0;
        text-align: center;
        font-size: 20px;
        border: none;
        &:focus {
            outline: none;
        }
    }
    #note, #error, #success {
        text-align: center;
        margin: 8px 0 0;
        color: #bbb;
        font-size: 14px;
        font-weight: 500;
        display: none;
    }
}
